
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;

    --card: 240 10% 7%;
    --card-foreground: 0 0% 98%;

    --popover: 240 10% 7%;
    --popover-foreground: 0 0% 98%;

    --primary: 252 80% 75%;
    --primary-foreground: 240 5.9% 10%;

    --secondary: 240 4.8% 20%;
    --secondary-foreground: 0 0% 98%;

    --muted: 240 4.8% 20%;
    --muted-foreground: 240 5% 64.9%;

    --accent: 240 4.8% 20%;
    --accent-foreground: 0 0% 98%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;

    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;

    --radius: 0.5rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

.muscle-group {
  @apply cursor-pointer fill-muscle-inactive hover:fill-muscle-hover transition-colors duration-300;
}

.muscle-group.active {
  @apply fill-muscle-active animate-pulse-light;
}

/* Hide scrollbars but allow scrolling */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
}
